html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: 9px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #1f2965;
}

/* vertical layout with percent */
header {
    height: 14%;
    margin-bottom: 2%;
}

section.count {
    height: 7%;
    margin-bottom: 1%;
}

section.demo {
    height: 13%;
    margin-bottom: 1%;
}

#cow {
    height: 35%;
    margin-bottom: 1%;
}

section.time {
    height: 6%;
}

section.control {
    height: 18%;
}
/* end vertical layout */

div.container {
    width: 90%;
    margin: 0 auto;
    padding: 5% 5% 0 5%;
    position: absolute;
    bottom: 0;
    top: 0;
    background: url('../images/top.png') no-repeat left top, url('../images/bottom.png') no-repeat left bottom;
    background-color: #ddf2f9;
    background-size: 100% auto;
}

header {
    overflow: hidden;
}

header .logo {
    max-height: 100%;
    max-width: 35%;
    vertical-align: middle;
    margin-right: 5%;
}

header .title {
    max-height: 100%;
    max-width: 55%;
    vertical-align: middle;
}

section.count {
    overflow: hidden;
    display: table;
    width: 100%;
}

section.count > div {
    display: table-cell;
    vertical-align: middle;
}

section.count div div,
section.time span.number {
    display: inline;
    color: #eaaa38;
}

section.time span,
section.count div div {
    font-size: 2em;
}

section.demo .click {
    font-size: 1.5em;
}

section.count > div {
    width: 34%;
    margin-right: 3%;
    text-align: center  ;
}

section.count > div.click {
    width: 25%;
}

section.count > div.last {
    margin-right: 0;
}

section.demo {
    overflow: hidden;
    display: table;
    width: 100%;
}

section.demo > div,
section.demo > span {
    display: table-cell;
    vertical-align: middle;
}

section.demo > div {
    width: 30%;
}
section.demo > div.click {
    width: 24%;
}
section.demo > span {
    width: 5%;
}

section.demo span {
    font-size: 3em;
}

section.demo img {
    width: 3.5em;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    padding: 0;
}

section.demo .click {
    text-align: center;
}

#cow {
    width: 100%;
    display: block;
}

#cow img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

section.time {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    display: table;
}

section.time span {
    display: table-cell !important;
    vertical-align: middle;
}

section.control {
    position: relative;
    overflow: hidden;
    display: table;
    width: 100%;
}

section.control > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

section.control button {
    display: inline-block;
    border: 5px solid white;
    border-radius: 5px;
    line-height: 1em;
    font-size: 2em;
    padding: 0em;
}

section.control .rule,
section.control .rank {
    font-weight: bold;
    color: white;
    width: 2.7em;
    height: 2.7em;
    background: #00a7e4;
    white-space: nowrap;
    word-spacing: 0;
}

section.control .rule {
    float: left;
}

section.control .rank {
    float: right;
}
section.control .game_start {
    font-weight: bold;
    color: white;
    width: 5em;
    height: 2.7em;
    background-color: #0069bb;
}

.disable {
    background-color: #aaa !important;
}

/* animation */
#cow img {
    transition: all 0.8s;
}

/* popup */
.cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    display: none;
}
.popup {
    width: 80%;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -40%;
    background-color: white;
    border: 2px solid #1f2965;
    border-radius: 5px;
    display: none;
}

.popup > div {
    margin: 10% 3% 3% 3%;
    max-height: 20em;
    overflow: auto;
}

.popup a.close {
    position: absolute;
    top: 3%;
    right: 3%;
    text-decoration: none;
    font-size: 1.5em;
}

#cong img {
    max-width: 30%;
    max-height: 100%;
    vertical-align: middle;
}

#cong p {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    margin: 0;
    font-size: 1.5em;
}

#rule div {
    font-size: 1.2em;
}

#rank h1 {
    text-align: center;
}

#rank h1 {
    font-size: 1.5em;
}

#rank table {
    font-size: 1.2em;
}

#rank table {
    width: 100%;
    text-align: center;
}

#rank .th-rank {
    text-align: left;
}

.self {
    color: #00a7e4 !important;
}

/* media query */
@media screen and (max-width: 320px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 321px) and (max-width: 749px) {
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 750px) {
    body {
        font-size: 22px;
    }
}

/* media query */
/* small device */
/*@media screen*/
/*and (max-width: 320px) {*/
    /*body {*/
        /*font-size: 9px;*/
    /*}*/
/*}*/

/* iphone 4 */
/*@media screen*/
/*and (max-width: 320px)*/
/*and (max-height: 400px) {*/
    /*body {*/
        /*font-size: 8px;*/
    /*}*/
    /*section.control {*/
        /*bottom: 1%;*/
    /*}*/
    /*section.count,*/
    /*section.demo {*/
        /*margin-bottom: 0.5em;*/
    /*}*/
    /*#cow {*/
        /*width: 50%;*/
    /*}*/
    /*header {*/
        /*margin-bottom: 4%;*/
    /*}*/
/*}*/

/* bigger phone */
/*@media screen*/
/*and (min-width: 321px)*/
/*and (max-width: 768px) {*/
    /*body {*/
        /*font-size: 10px;*/
    /*}*/
/*}*/

/* bigger landscape */
/*@media screen and (max-height: 768px)*/
/*and (min-width: 481px) {*/
    /*html, body {*/
    /*}*/
    /*div.container {*/
        /*position: relative;*/
    /*}*/
/*}*/

/* desktop */
/*@media screen and (min-width: 769px) {*/
    /*html, body {*/
        /*height: auto;*/
        /*font-size: 15px;*/
    /*}*/
    /*div.container {*/
        /*position: relative;*/
    /*}*/
/*}*/